* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(26, 25, 23);
    color: cornflowerblue;
}

p {
    color: rgb(121, 114, 206);
    font-size: 18px;
}


img {
    padding: 5px;
    margin: 10px;
}

iframe {
    margin: 10px;
}

h1 {
    border-radius: 127px 0px 111px 0px;
    -webkit-border-radius: 127px 0px 111px 0px;
    -moz-border-radius: 127px 0px 111px 0px;
    border: 32px groove #6c0a0a;
    background-color: indigo;
}

.grid-container {
    width: 800px;
    display: grid;
    background-color: #6c0a0a;
    grid-template-columns: 300px 200px 400px;
    grid-gap: 10px;
    padding: 10px;
}

.body {
    background-color: #6c0a0a;
}

    

