body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaecf0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


header,
nav,
main,
footer {
    margin: 20px;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #007bff;
    cursor: pointer;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    display: none;
}

.active {
    display: block;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {
    section {
        padding: 10px;
        margin-bottom: 10px;
    }

    nav a {
        font-size: 14px;
    }
}


header h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    font-size: 16px;
}


main {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #dadbdd;
    color: black;
    font-weight: 600;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    align-items: center;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px rgba(15, 15, 15, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
}
/* @media only screen and (max-width: 768px) {
    .imagen {
       max-width:200px ;
        max-height : 125px;
        
    }
} */